.scheduleList {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.CreateNewButton {
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  text-decoration: none !important;
  background-color: #dc3545;
  border-radius: 5px;
  margin: 5px;
  outline: inherit;
  font-size: 25px;
  color: white;
}

.CreateNewButton:hover {
  background-color: #ac2936;
}
