.schedule {
  display: flex;
  margin: 5px;
  padding: 10px;
  border: solid #0d6efd 2px;
  background-color: #3888ff;
  border-radius: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: bold;
  justify-content: space-between;
}

.actionButton {
  background: none;
  border: none;
}

.buttonGroup {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
