.schedule {
  margin: 5px;
  padding: 10px;
  border: solid #0d6efd 2px;
  background-color: #3888ff;
  border-radius: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: bold;
}

.actionButton {
  background: none;
  border: none;
}
